language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.8-dev"
  - "nightly"


addons:
  apt:
    packages:
      - graphviz
      - git


install:
  - sudo apt-get install graphviz
  - sudo apt-get install git
  - python setup.py install


script:
  - flake8
  - pytest -vv