# conda create -n git
# source activate git
# while read requirement; do conda install --yes $requirement; done < requirements.txt
# python
# >>> import dot_graph as dg
# >>> dg.DotGraph('.').persist(show=False)

python=3
python-graphviz
